# Ignorar arquivos de ambiente virtual
venv/
__pycache__/

# Ignorar arquivos temporários
*.log
*.csv
*.db

# Permitir apenas arquivos em data/source/
!data/source/*.csv
!data/source/*.csv

# Ignorar configurações do VSCode
.vscode/
minio_data/ 
